<div class="banner">
    <div class="full-container">

    </div>
    <!--/.full-container-->
</div>
<!--/.banner style1-->

<!-- /main container -->

<!-- <div class="parallax-section parallax-image-1">
    <div class="container">
        <div class="row ">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="parallax-content clearfix">
                    <h1 class="parallaxPrce"> $200 </h1>

                    <h2 class="uppercase">FREE INTERNATIONAL SHIPPING! Get Free Shipping Coupons</h2>

                    <h3> Energistically develop parallel mindshare rather than premier deliverables. </h3>

                    <div style="clear:both"></div>
                    <a class="btn btn-discover "> <i class="fa fa-shopping-cart"></i> SHOP NOW </a></div>
            </div>
        </div>
    </div>
</div> -->
<div class="banner">
    <div class="full-container">
        <div class="slider-content">
            <ul id="pager2" class="container">
            </ul>
            <!-- prev/next links -->

            <span class="prevControl sliderControl"> <i class="fa fa-angle-left fa-3x "></i></span> <span
                class="nextControl sliderControl"> <i class="fa fa-angle-right fa-3x "></i></span>

            <div class="slider slider-v1"
                 data-cycle-swipe=true
                 data-cycle-prev=".prevControl"
                 data-cycle-next=".nextControl" data-cycle-loader="wait">
                <div class="slider-item slider-item-img1"><img src="client/src/images/slider/slider0.jpg"
                                                               class="img-responsive parallaximg sliderImg" alt="img">
                </div>
                <div class="slider-item slider-item-img1">
                    <div class="sliderInfo">
                        <div class="container">
                            <div class="col-lg-12 col-md-12 col-sm-12 sliderTextFull ">
                                <div class="inner text-center">
                                    <div class="topAnima animated">
                                        <h1 class="uppercase xlarge">FREE SHIPPING</h1>

                                        <h3 class="hidden-xs"> Free Standard Shipping on Orders Over $100 </h3>
                                    </div>
                                    <a class="btn btn-danger btn-lg bottomAnima animated opacity0">SHOP NOW ON TSHOP
                                        <span class="arrowUnicode">►</span></a></div>
                            </div>
                        </div>
                    </div>
                    <img src="client/src/images/slider/slider1.jpg" class="img-responsive parallaximg sliderImg" alt="img"></div>
                <!--/.slider-item-->

                <div class="slider-item slider-item-img2 ">
                    <div class="sliderInfo">
                        <div class="container">
                            <div class="col-lg-12 col-md-12 col-sm-12 sliderTextFull  ">
                                <div class="inner dark maxwidth500 text-center animated topAnima">
                                    <div class=" ">
                                        <h1 class="uppercase xlarge"> CUSTOM HTML BLOCK</h1>

                                        <h3 class="hidden-xs"> Custom Slides to Your Slider </h3>
                                    </div>
                                    <a class="btn btn-danger btn-lg">SHOP NOW ON TSHOP <span
                                            class="arrowUnicode">►</span></a></div>
                            </div>
                        </div>
                    </div>
                    <img src="client/src/images/slider/slider3.jpg" class="img-responsive parallaximg sliderImg" alt="img"></div>
      

                <div class="slider-item slider-item-img3 ">
                    <div class="sliderInfo">
                        <div class="container">
                            <div class="col-lg-5 col-md-4 col-sm-6 col-xs-8   pull-left sliderText white hidden-xs">
                                <div class="inner">
                                    <h1>TSHOP JEANS</h1>

                                    <h3 class="price "> Free Shipping on $100</h3>

                                    <p class="hidden-xs">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                                        diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                                        volutpat. </p>
                                    <a href="category.html" class="btn btn-primary">SHOP NOW <span class="arrowUnicode">►</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img src="client/src/images/slider/slider4.jpg" class="img-responsive parallaximg sliderImg" alt="img"></div>
                <!--/.slider-item-->

                <div class="slider-item slider-item-img3">
                    <div class="sliderInfo">
                        <div class="container">
                            <div class="col-lg-5 col-md-6 col-sm-5 col-xs-5 pull-left sliderText blankstyle transformRight">
                                <div class="inner text-right"><img src="client/src/images/slider/color.png" class="img-responsive"
                                                                   alt="img"></div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-7   pull-left sliderText blankstyle color-white">
                                <div class="inner">
                                    <h1 class="uppercase topAnima animated ">10+ Amazing Color Theme</h1>

                                    <p class="bot tomAnima animated opacity0 hidden-xs"> Fully responsive bootstrap
                                        Ecommerce Template. Available in 10+ color schemes and easy to set. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img src="client/src/images/slider/6.jpg" class="img-responsive parallaximg sliderImg" alt="img"></div>
            </div>
            <!--/.slider slider-v1-->
        </div>
        <!--/.slider-content-->
    </div>
    <!--/.full-container-->
</div>
<!--/.parallax-image-1-->

<div class="container main-container">
    <!-- Demo Features Content start -->

    <div class="morePost row featuredPostContainer style2 globalPaddingTop ">
        <!-- this div is for demo || Please remove it when use this page -->

        <h3 class="section-title style2 text-center"><span>RECENTLY ADDED</span></h3>

        <div class="container">
            <div class="row xsResponse categoryProduct">

                <div class="item itemauto  col-lg-3 col-md-3 col-sm-6 col-xs-6" ng-repeat = "product in vm.products">
                    <div class="product">
                        <a class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="Add to Wishlist"
                           data-placement="left">
                            <i class="glyphicon glyphicon-heart"></i>
                        </a>


                        <div class="imageHover imageHoverFlip">
                            <a ui-sref="product-detail({ productName : product.productName })"><img ng-src="{{product.productImages[0].imageUrl}}" alt="img"
                                                                class="img-responsive primaryImage">
                                <img ng-src="{{product.productImages[0].imageUrl}}" alt="img" class="img-responsive secondaryImage"></a>

                            <div class="promotion"><span class="discount">{{product.usedBookDiscount}} OFF</span></div>
                        </div>


                        <div class="description">
                            <h4><a ui-sref="product-detail({ productName : product.productName })">{{product.productLabel}}</a></h4>
                         </div>
                        <div class="price"><span>&#8377;{{product.usedBookSellingPrice}}</span></div>
                        <div class="action-control"><a class="btn btn-primary" data-toggle="modal" ng-click="vm.getModalProducts(product)" data-target="#product-details-modal">
                        <span class="add2cart"> Quickview </span> </a></div>
                    </div>
                </div>
                <!--/.item-->
            </div>
        </div>
    </div>
    <!-- Demo Features Content end -->
</div>
<!--main-container-->
<!-- Modal without ajax -->
<div class="modal fade" id="product-details-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button"> ×</button>
            <div class="col-lg-5 col-md-5 col-sm-5  col-xs-12">

                <!-- product Image -->

                <div class="main-image  col-lg-12 no-padding style3">
                    <a class="product-largeimg-link" href="product-details.html"><img
                            ng-src="{{vm.modalProduct.productImages[0].imageUrl}}"
                            class="img-responsive product-largeimg"
                            alt="img">
                    </a>
                </div>
                <!--/.main-image-->

                <div class="modal-product-thumb">
                    <a class="thumbLink selected"><img data-large="{{vm.modalProduct.productImages[0].imageUrl}}" alt="img"
                                                       class="img-responsive"
                                                       ng-src="{{vm.modalProduct.productImages[0].imageUrl}}">
                    </a>
                    <a class="thumbLink"><img data-large="{{vm.modalProduct.productImages[0].imageUrl}}" alt="img"
                                              class="img-responsive"
                                              ng-src="{{vm.modalProduct.productImages[0].imageUrl}}">
                    </a>
                    <a class="thumbLink"><img data-large="{{vm.modalProduct.productImages[0].imageUrl}}" alt="img"
                                              class="img-responsive"
                                              ng-src="{{vm.modalProduct.productImages[0].imageUrl}}">
                    </a>
                </div>
                <!--/.modal-product-thumb-->
            </div>
            <!--/ product Image-->


            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 modal-details no-padding">
                <div class="modal-details-inner">
                    <h1 class="product-title"> {{vm.modalProduct.productLabel}}</h2>

                        <h3 class="product-code">Product Code : {{vm.modalProduct.productCode}}</h3>

                        <div class="product-price"><span class="price-sales">&#8377;{{vm.modalProduct.usedBookSellingPrice}}</span> <span
                                class="price-standard">&#8377;{{vm.modalProduct.originalPrice}}</span></div>
                        <div class="details-description">
                            <p>{{vm.modalProduct.productName}} </p>
                        </div>
                        <div class="color-details"><span class="selected-color"><strong>CONDITION</strong></span>
                            <ul class="swatches Color">
                                <li class="selected">
                                    <a style="background-color:#f1f40e">NEW</a>
                                </li>
                                <li>
                                    <a style="background-color:#adadad">USED</a>
                                </li>
                            </ul>
                        </div>
                        <!--/.color-details-->

                        <div class="productFilter productFilterLook2">
                            <div class="row">
                                <div class="col-lg-6 col-sm-6 col-xs-6">
                                    <div class="filterBox">
                                        <select class="form-control">
                                            <option value="strawberries" selected>Quantity</option>
                                            <option value="mango">1</option>
                                            <option value="bananas">2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-xs-6">
                                    <div class="filterBox">
                                        <select class="form-control">
                                            <option value="strawberries" selected>Size</option>
                                            <option value="mango">XL</option>
                                            <option value="bananas">XXL</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- productFilter -->

                        <div class="cart-actions">
                            <div class="addto row">
                                <div class="col-lg-6">
                                    <button  ng-disabled="vm.setdisabled" ng-click="vm.addToCart(vm.modalProduct)"
                                    class="button btn-block btn-cart cart first" title="Add to Cart" type="button">{{vm.addTocartbutton}}
                            		</button>
                                </div>
                                <div class="col-lg-6"><a class="link-wishlist wishlist btn-block ">Add to Wishlist</a>
                                </div>
                            </div>
                        </div>
                        <!--/.cart-actions-->

                        <div class="product-share clearfix">
                            <p> SHARE </p>

                            <div class="socialIcon">
                                <a href="#"> <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#"> <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#"> <i class="fa fa-google-plus"></i>
                                </a>
                                <a href="#"> <i class="fa fa-pinterest"></i>
                                </a>
                            </div>
                        </div>
                        <!--/.product-share-->
                </div>
                <!--/.modal-details-inner-->
            </div>
            <!--/.modal-details-->
            <div class="clear"></div>
        </div>
        <!--/.modal-content-->
    </div>
    <!--/.modal-content-->
</div>
<!-- End Modal -->